*{
    margin: 0;
    padding: 0;
}
.Outer{
    border: 10px solid black;
    width: fit-content;
    height: fit-content;
    margin-left: 40%
}
.header-part{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.Dp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}
.Username{
    font-size: 20px;
    font-style: italic;
    padding-top: 16px;
    padding-left: 12px;
}
 .fa-ellipsis-vertical{
    font-size: 30px;
    padding-left: 220px;  
     padding-top: 10px; 
}
.post {
    width:fit-content;
    margin: 5px 0;
}
.img{
    width:400px;
    height: 300px;
}
.para{
    font-size: 25px;
    margin-left: 10px;
}
.Icons{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.Icons  i{
    padding: 5px;
}

