*{
    margin: 0;
    padding: 0;
}
div{
    width: 350px;
    margin-left: 220px;
    /* border: 2px solid black; */
    /* display: flex; */
}
.Outer{
    border: 2px solid black;
}
.Username{
    font-size: 50px;
    display: flex;
    flex-direction:row;
    position: relative;
    left: 80px;
    top:-60px;

}
.Dp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;

}
img{
    width: 300px;
    height: 190px;
}
.para{
    font-size: 23px;
    margin-bottom: 12px;
    /* padding-left:  */
    text-align: center;
}
.post{
    padding-left: 25px;
    /* margin-top: 12px; */
    /* margin-bottom: 30px; */
}
.Icons{
    font-size:20px;
    /* margin-top: 1px; */
    margin: 1px 1px 1px 25px;
}
i{
    /* border-bottom: 1px solid black; */
    padding: 10px;
}