h1{
  color:rgb(235, 110, 110);
  background:black;
  font-size:bold;
}
.para{
  color:aqua;
  font-size:23px;
  background:black;
}
.submit{
  background:green;
}
.cancel{
  background:red;
}
.btn{
  width:23px;
  height: 20px;
}